{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %} 


<div class ="container-fluid px-0">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/1600x600/?river" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x600/?sun" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x600/?nature" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<main>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x850/?sun" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Beautiful nature at morning in the misty spring green forest with sun rays.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x850/?waterfall" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Waterfall at mountain river in autumn forest at sunset.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x850/?mountain-river" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Mountain river in the middle of green forest.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x850/?tree" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Spring summer landscape blue sky clouds Narew river boat green trees countryside grass Poland water leaves.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x850/?plant" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Panorama of a scenic forest of fresh green deciduous trees with the sun casting its rays of light through the foliage.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x850/?nature" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Spring flowers of blue crocuses in drops of water on the background of tracks of rain drops.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x850/?space" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Footbridge sea beach meditation journey calm hormone sunset sea yoga.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x850/?earth" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Oak tree in full leaf in summer standing alone in a field against a steel grey stormy sky.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x850/?land" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Sunset, beach with colorful red, orange and purple clouds reflected in the ocean water and columns of an old pier.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>


<div class="card bg-dark text-white text-center">
  <img src="https://source.unsplash.com/1600x200/?solid" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h3 class="card-title">NATUREGRAPHY</h3>
    <p class="card-text">Naturegraphy is a website where you can find the various images of nature.</p>
    <p class="card-text">Thank you for Visiting .</p>
  </div>
</div>



{% endblock body %}


